*
{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body
{
	background-image:url(images/bella3.jpeg);
	font-family: 'Flavors', cursive;
	font-size: 22px;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;


}
.menu-bar
{
	background: transparent;
	text-align: center;
}
.menu-bar ul
{
    display:inline-flex; 
    list-style: none;
}
.menu-bar ul li{
	width: 220px;
	margin:0px;
	padding:10px;
}
.menu-bar ul li a 
{
	text-decoration:none;
	color:white;
}
.active,.menu-bar ul li:hover
{

}

.sub-menu-1
 {
 	display: none;
 }
 .menu-bar ul li:hover .sub-menu-1
 {
 	display: block;
 	position: center;
 	background:#ff7f50;
 
 }
 
 .menu-bar ul li:hover .sub-menu-1 ul li
 {
 	width: 70px;
 	padding: 5px;
 	border-bottom: 1px dotted 
 	border-radius: 0;
 	text-align: center;
 }

.wrap {
   transform: translate(-50%, -50%);
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   
 
}
.wrap h1{
	font-size: 98px;
	color:#ff7f50;
	letter-spacing: 3px;
	text-align: right;
	font-family: 'Flavors', cursive;
	margin-right: -100px;

	
}  

.wrap p{
	font-family: 'Flavors', cursive;
	color:white;
	font-size: 50px;
	text-align: right;
	margin-right: -200px;
	
}
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; 
  }
}


@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; 
  }
}


@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; 
  }
}
